.App {
  text-align: center;
}

.navigation {
  background: #000;
  text-align: center;
  padding   : 10px;
}

.navigation a {
  color          : white;
  text-decoration: none;
  padding        : 10px 15px;
  font-size      : 18px;
}

.navigation a:hover {
  background: lightgray;
  color     : black;
}

.active {
  background: lightgray;
  color     : black;
}

.shop {
  display              : grid;
  grid-template-columns: 3fr 1fr;
}

.pd {
  display      : flex;
  border-bottom: 1px solid lightgray;
  padding      : 5px;
  margin       : 5px;
}

.btn-regular {
  background   : goldenrod;
  border-radius: 3px;
  outline      : none;
  font-size    : 15px;
  padding      : 5px 15px;
  border       : none;
  cursor       : pointer;
}

.cart {
  margin-left: 10px;
  border-left: 1px solid lightgray;
  padding    : 10px;
}

.productRev {
  padding      : 15px;
  border-bottom: 1px solid lightgray;
}